# Ignore Python virtual environment
venv/

# Airflow files to ignore
airflow/airflow.db
airflow/logs/

# Python cache
__pycache__/
*/__pycache__/

# Local data
cached_tweets.json
sql/*.csv

.env
.env
